
.monospace {
	font-family: "Lucida Console", Courier, monospace;
}

.btn {
	padding: 4px 8px;
	margin: 4px;
	font-size: medium;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.column {
	display: flex;
	flex-direction: column;
}

.icon {
	font-weight: bold;
	font-size: 1.25em;
	margin: 0 8px;
}

.btn-menu {
	position: relative;
}

.btn-menu:hover .menu {
	display: block;
}
.menu::after {
	position: absolute;
	top: -5px;
	right: 5px;
	width:0;
	height:0;

	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #222;
	content: "";
}
.menu {
	min-width: 20px;
	min-height: 20px;
	display: none;
	position: absolute;
	z-index: 100;
	background: #222;
	border-radius: 5px;
	color: #fff;

	padding: 8px;
	margin: 8px;

	top: 100%;
	right: 4px;
}

dialog {
	border: 1px solid #222;
	border-radius: 8px;
	box-shadow: #888 4px 4px 8px;
	max-width: 75vw;
	width: 800px;
}
.btn-x {
	position: absolute;
	top: 16px;
	right: 16px;
	border: none;
	background: none;
}
.btn-x:hover {
	background: radial-gradient(#ddd, #FFF0 75%);
}
.btn-x::before {
	content:"×";
	font-size: 32px;
	line-height: 18px;
}

.blocklyTreeRow.search-bar-row {
	height: unset;
	padding:0px;
}

.search-bar {
	margin: 4px;
	border-radius: 5px;
	border-style: solid;
	border-color: #ccc;
	padding: 4px;
	font-family: "Lucida Console", Courier, monospace;
}
